img.logo_img {
  margin-left: 15%;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background: black;
  color: white;
}
.css-1v5u2yv {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 24px;
  margin-left: 3%;
}
.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
  box-sizing: border-box;
  width: 300px !important;
}
.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
  margin-left: auto;
}
main.main_box.MuiBox-root {
  margin-left: 4%;
  
}
.col-3.earned_leave {
  border-left: 2px solid yellow;
}
.col-3.sick_leave {
  border-left: 2px solid pink;
}
.col-3.casual_leave {
  border-left: 2px solid blue;
}
header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed {
  height: 80px;
  background-color: black;
}
.row.header_setting {
  margin-top: 7%;
}
h6.sick_border {
  border-left: 2px solid red;
  padding-left: 1%;
}
.leave {
  margin-top: 3%;
}
.col-5.apply_logo {
  margin-top: 4.5%;
}
h6.earned_border {
  border-left: 3px solid yellow;
  padding-left: 1%;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined {
  color: white;
}
.earned_leave {
  margin-top: 6%;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black;
  border-width: 2px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
  background: black;
  color: white;
}
main.MuiBox-root {
  margin-left: 16%;
}
.row.mt-4 {
  margin-top: 7% !important;
}
.leave_request {
  margin-top: 15%;
}
.row.profile.mt-3 {
  margin-left: 2%;
}
.row.profile {
  margin-left: 2%;
  margin-top: 3%;
}
ul.MuiList-root.MuiList-padding.css-h4y409-MuiList-root {
  margin-left: 0%;
  text-align: center;
}
.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.avatar_img.mx-auto {
  height: 120px;
  width: 120px;
}
.row.post_section {
  margin-top: -2%;
}
main.sub_box.MuiBox-root.css-18glnma {

  margin-left: 0%;
}
.col-sm-3.mt-3.leavequota {
  padding-left: 4%;
}
@media screen and (min-width:320px) and (max-width:767px){
  .MuiBox-root.css-k008qs {
    display: block;
}

  .row.profile {
    margin-left: 0%;
    margin-top: 3%;
}
span.ant-avatar.ant-avatar-circle.ant-avatar-icon.css-dev-only-do-not-override-sk7ap8 {
 
  width: 88px !important;
  height: 88px !important;
}
main.MuiBox-root {
  margin-left: 0%;
  margin: auto;
}
main.sub_box.MuiBox-root.css-18glnma {
  margin-top: 2%;
}
.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
  margin-left: auto !important;
}
body {
  padding-right: 0px !important;
  overflow: none;
}


}
