.sick-leave-title-border {
    border-left: 4px solid #E8BA18;
    padding: 8px 16px;
    margin-top: 15px;
}

.cursur-disabled {
    cursor: not-allowed;
}

.pending-text {
    text-transform: capitalize;
    color: #DE3C45;
}

.approved-text {
    color: #49C110;
    text-transform: capitalize;
}

.rejected-text {
    color: #DE3C45;
    text-transform: capitalize;
}

.page-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #000000;
}

.apply-leaves-main-layout .avail-leaves-card-row .earn-leave-count {
    color: #E8BA18;
}

.apply-leaves-main-layout .avail-leaves-card-row .sick-leave-count {
    color: #D724DB;
}

.apply-leaves-main-layout .avail-leaves-card-row .casual-leave-count {
    color: #2373B2;
}

.leave_no_found {
    text-align: center;
    margin-top: 10%;
}

.login-template input {
    background: #E6E6E6;
    border: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 11px;
    margin-top: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}

.login-template .employee_page {
    text-align: left;
    border-left: 3px solid #2373B2;
    padding: 10px;
}

.login-template button.login-form-btn {
    background: #2373B2;
    border: none;
    color: #fff;
    width: 100%;
    padding: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.login-template  .gif_file{
    width: 100%;
    /* float: left; */
}
.login-template  .logo-image{
    /* width: 100%; */
    float: left;
}
.earn-leave-highlight{
    background: #E8BA18;
}
.sick-leave-highlight{
    background: #D724DB;
}
.casual-leave-highlight{
    background: #2373B2;
}

.calender-style{
    width: 100%;
    border-radius: 19px;
    border: 0.935089px solid #E5E5EF;
}



@media screen and (max-width:755px) {

    .add-project .last-row,
    .add-UserLayout .last-row {
        gap: 0px;
    }
}